.beer{
    border: black solid 2px;
    height: 90%;
    border-radius: 20px;
    box-shadow: 5px 10px 8px #888888;
    background-color: white;

    &__image{
        height: 35%;
        width: 100px;
    }

    >p{
        margin: 6px;
    }

}