.App {
  text-align: center;

  &__title{
    width: 100%;
  }
}

.sidenav{
  float: left;
  width: 20%;
  position: fixed;
  top: 0;
}

.main{
  float: right;
  width: 89%;
  background-color: rgb(155, 154, 83);
}

.photo-credit{
  float: right;
  bottom: 0;
}